*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(71, 128, 115);
    text-align: center;
    
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 3px;
    font-size:70px ;
    background-color: rgb(232, 232, 155);

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: aliceblue;
    border-radius: 20px;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #997595;
    color: aliceblue;
    border-radius: 20px;
}
#msg{
    color: rgb(222, 222, 173);
    font-size: 8vmin;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display: none;
}